[Unit]
Description="Start Cassandra-stress to populate ScyllaDB"

[Service]
User=scyllaadm
WorkingDirectory=/home/scyllaadm/
ExecStart=/usr/bin/bash /home/scyllaadm/start.sh
Type=simple
[Install]
WantedBy=multi-user.target
