@font-face {
font-family: 'fonticon';
src: url("../fonts/fonticon.ttf") format("truetype"),
url("../fonts/fonticon.eot") format("embedded-opentype"),
url("../fonts/fonticon.woff") format("woff");
}
[class*=" icon-"],
[class^="icon-"] {
    font-family: 'fonticon' !important;
    font-style:normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    top: .1em;
}

$icons: (
"radio": "\ea01",
"radio-active": "\ea02",
"checkbox-indeterminate": "\ea03",
"checkbox": "\ea04",
"checkbox-active": "\ea05",
"swap": "\ea06",
"unfold": "\ea07",
"account": "\ea08",
"add": "\ea09",
"apartment": "\ea0a",
"arrow-left": "\ea0b",
"arrow-down": "\ea0c",
"arrow-dropdown": "\ea0d",
"arrow-dropup": "\ea0e",
"arrow-right": "\ea0f",
"arrow-up": "\ea10",
"beach": "\ea11",
"refresh": "\ea12",
"calendar-today": "\ea13",
"cancel-filled": "\ea14",
"check-circle-filled": "\ea15",
"check-circle": "\ea16",
"check": "\ea17",
"chevron-left": "\ea18",
"chevron-right": "\ea19",
"cancel": "\ea1a",
"cloud": "\ea1b",
"collection": "\ea1c",
"copy": "\ea1d",
"cut": "\ea1e",
"paste": "\ea1f",
"creditcard": "\ea20",
"calendar": "\ea21",
"delete": "\ea22",
"download": "\ea23",
"title": "\ea24",
"mail-open": "\ea25",
"edit": "\ea26",
"error": "\ea27",
"error-outline": "\ea28",
"chevron-up": "\ea29",
"chevron-down": "\ea2a",
"heart": "\ea2b",
"sort": "\ea2c",
"folder": "\ea2d",
"FormatAlignLeftFilled": "\ea2e",
"home": "\ea2f",
"inbox": "\ea30",
"info": "\ea31",
"info-outline": "\ea32",
"layers": "\ea33",
"location": "\ea34",
"lock": "\ea35",
"logout": "\ea36",
"mail": "\ea37",
"mail-outline": "\ea38",
"menu": "\ea39",
"monitor": "\ea3a",
"more-horizontal": "\ea3b",
"more-vertical": "\ea3c",
"notification": "\ea3d",
"newtab": "\ea3e",
"users": "\ea3f",
"add-user": "\ea40",
"user": "\ea41",
"phone": "\ea42",
"photo": "\ea43",
"photo-outline": "\ea44",
"play": "\ea45",
"play-circle": "\ea46",
"clock": "\ea47",
"unlock": "\ea48",
"database": "\ea49",
"network": "\ea4a",
"dashboard": "\ea4b",
"settings": "\ea4c",
"star-filled": "\ea4d",
"star-outline": "\ea4e",
"maintenance": "\ea4f",
"send": "\ea50",
"next": "\ea51",
"previous": "\ea52",
"warning-outline": "\ea53",
"list": "\ea54",
"university": "\ea55",
"usage": "\ea56",
"help": "\ea57",
"warning": "\ea58",
"support": "\ea59",
"search": "\ea5a",
"logs": "\ea5b",
"dashboard-outline": "\ea5c",
"star-half-filled": "\ea5d",
"modules": "\ea5e",
"work": "\ea5f",
"upload-file": "\ea60",
"wifi": "\ea61",
"theme": "\ea62",
"instance": "\ea63",
"pause": "\ea64",
"stop": "\ea65",
"reset": "\ea66",
"eye": "\ea67",
"key": "\ea68",
"server": "\ea69",
"download-file": "\ea6a",
"scale-up": "\ea6b",
"scale-down": "\ea6c",
"resize": "\ea6d",
"grid": "\ea6e",
"upload1": "\ea6f",
"cloud-error": "\ea70",
"terminal": "\ea71",
"sample-data": "\ea72",
"add-circle-outline": "\ea73",
"play-circle-filled": "\ea74",
"play-circle-outline-filled": "\ea75",
"stop-circle-filled": "\ea76",
"add-circle-filled": "\ea77",
"scale-in": "\ea78",
"scale-out": "\ea79",
"rocket": "\ea7a"
);
@each $name, $glyph in $icons {
.icon-#{$name}:before { content: $glyph; }
}