{
    "Overview": "http://${monitoring_ip}:3000/d/overview-6-0/overview?from=now-5m&to=now&var-by=instance&var-cluster=cluster&var-dc=All&var-node=All&var-shard=All&var-mount_point=%2Fvar%2Flib%2Fscylla&var-sg=sl:default&var-func=sum&var-dash_version=2024-2&var-all_scyllas_versions=All&var-count_dc=All&var-scylla_version=2024.2&var-monitoring_version=4.8.1&orgId=1&refresh=5s&var-kind=All&var-topk=256&var-bottomk=0&theme=dark&var-sg=sl:realtime&var-sg=sl:wlp",
    "Detailed": "http://${monitoring_ip}:3000/d/detailed-6-0/detailed?from=now-5m&to=now&var-by=instance&var-cluster=cluster&var-dc=All&var-node=All&var-shard=All&var-topk=256&var-bottomk=0&var-dash_version=2024-2&var-scylla_version=2024.2&var-monitoring_version=4.8.1&orgId=1&refresh=5s&var-sg=sl:realtime&var-sg=sl:wlp&var-kind=All&var-func=sum&theme=dark",
    "Advanced": "http://${monitoring_ip}:3000/d/advanced-6-0/advanced?from=now-5m&to=now&var-by=instance&var-cluster=cluster&var-dc=All&var-node=All&var-shard=All&var-mount_point=%2Fvar%2Flib%2Fscylla&var-sg=sl:default&var-func=sum&var-dash_version=2024-2&var-all_scyllas_versions=All&var-count_dc=All&var-scylla_version=2024.2&var-monitoring_version=4.8.1&orgId=1&refresh=5s&var-kind=All&var-topk=256&var-bottomk=0&theme=dark",
    "CQL": "http://${monitoring_ip}:3000/d/cql-6-0/scylla-cql?from=now-5m&to=now&var-by=instance&var-cluster=cluster&var-dc=All&var-node=All&var-shard=All&var-mount_point=%2Fvar%2Flib%2Fscylla&var-sg=sl:realtime&var-sg=sl:wlp&var-func=sum&var-dash_version=2024-2&var-all_scyllas_versions=All&var-count_dc=All&var-scylla_version=2024.2&var-monitoring_version=4.8.1&orgId=1&refresh=5s&var-kind=All&var-topk=256&var-bottomk=0&theme=dark",
    "OS Metrics": "http://${monitoring_ip}:3000/d/OS-6-0/os-metrics?from=now-5m&to=now&var-by=instance&var-cluster=cluster&var-dc=All&var-node=All&var-shard=All&var-topk=256&var-bottomk=0&var-dash_version=2024-2&var-scylla_version=2024.2&var-monitoring_version=4.8.1&orgId=1&refresh=30s&theme=dark"
}